<section ng-init="fnInitDirectors()">
  <div class="progress">
      <progressbar class="progress-striped active" value="100" type="info" ng-if="isProgress"></progressbar>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
      </div>
    </div>
  </div>
</section>
