<section ng-init="fnInitDirector()">
  <div class="progress">
    <progressbar class="progress-striped active" value="100" type="info" ng-if="isProgress"></progressbar>
  </div>
  <div class="container" ng-if="!isProgress">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <span ng-bind="director.name"></span>
            <button class="btn btn-sm btn-success pull-right back-btn" ui-sref="home">Back</button>
          </div>
          <div class="panel-body">
            <div class="row" ng-repeat="(key, value) in director">
              <div class="col-sm-3 text-capitalize" ng-bind="key"></div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-8" ng-bind="fnReturnValue(key, value)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
